flow.json
[
    {
        "id": "c316f7c54f47700f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da1de601187962a6",
        "type": "ui_button",
        "z": "c316f7c54f47700f",
        "name": "",
        "group": "d92a5c8e34b4dda6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Retract",
        "tooltip": "Retract all elements",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"x\":0,\"y\":0,\"z\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "38b6cd85673ebaba"
            ]
        ]
    },
    {
        "id": "e3bf36e75006837a",
        "type": "moonNode-command",
        "z": "c316f7c54f47700f",
        "name": "ExecuteGCode",
        "command": "msg.payload.cmd",
        "server": "7490fa221a151ea5",
        "stateless": false,
        "x": 800,
        "y": 160,
        "wires": [
            [
                "e5f1762c75e1c2a1"
            ],
            [],
            [
                "e5f1762c75e1c2a1",
                "71599144a6090579"
            ]
        ]
    },
    {
        "id": "38b6cd85673ebaba",
        "type": "function",
        "z": "c316f7c54f47700f",
        "name": "MoveTo",
        "func": "const msgs = [];\n//msgs.push({ payload: { \"cmd\": \"G0 \" + \"X\" + msg.payload.x + \" Y\" + msg.payload.y + \" Z\" + msg.payload.z } });\nmsgs.push({ payload: { \"cmd\": \"G0 \" + \"X\" + msg.payload.x + \" F1200\"} });\n\nreturn [msgs]; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "e3bf36e75006837a",
                "3dee9e5a435936b5"
            ]
        ]
    },
    {
        "id": "c9c05bc88f7eecc5",
        "type": "ui_button",
        "z": "c316f7c54f47700f",
        "name": "",
        "group": "d92a5c8e34b4dda6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Band 1",
        "tooltip": "Tune to band 1",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"x\":25,\"y\":25,\"z\":25}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "38b6cd85673ebaba"
            ]
        ]
    },
    {
        "id": "e4a1a6310235ad55",
        "type": "ui_button",
        "z": "c316f7c54f47700f",
        "name": "",
        "group": "d92a5c8e34b4dda6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Band 2",
        "tooltip": "Tune to band 2",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"x\":50,\"y\":50,\"z\":50}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "38b6cd85673ebaba"
            ]
        ]
    },
    {
        "id": "9b182d790f9f84f6",
        "type": "ui_button",
        "z": "c316f7c54f47700f",
        "name": "",
        "group": "d92a5c8e34b4dda6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Band 3",
        "tooltip": "Tine to band 3",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"x\":100,\"y\":100,\"z\":100}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "38b6cd85673ebaba"
            ]
        ]
    },
    {
        "id": "d8abc0c7033dc564",
        "type": "function",
        "z": "c316f7c54f47700f",
        "name": "Home antenna",
        "func": "const msgs = [];\nmsgs.push({ payload: { \"cmd\": \"G28 X\" } });                                          // The custom home script in klipper will just set the current tape location as the home position\n//msgs.push({ payload: { \"cmd\": \"SET_KINEMATIC_POSITION X=100000 Y=100000 Z=100000\" } });     // tell klipper that we are now at very high coordinates to make space for the retract\n//msgs.push({ payload: { \"cmd\": \"G0 X0 Y0 Z0 F20\" } });                                       // force the antenna to retract all the way until limit triggers stop the motors\n//msgs.push({ payload: { \"cmd\": \"SET_KINEMATIC_POSITION X=0 Y=0 Z=0\" } });                    // tell klipper that we are now at coordinates 0,0,0\n\n// MOve out 10mm to release pressure on drive shaft\nmsgs.push({ payload: { \"cmd\": \"G91\" } });\nmsgs.push({ payload: { \"cmd\": \"G1 X+10 F6000\" } });\nmsgs.push({ payload: { \"cmd\": \"G90\" } });\n\n\nreturn [msgs]; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 60,
        "wires": [
            [
                "e3bf36e75006837a",
                "3dee9e5a435936b5"
            ]
        ]
    },
    {
        "id": "3dee9e5a435936b5",
        "type": "debug",
        "z": "c316f7c54f47700f",
        "name": "Debug gcode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "fc31234ee4d15396",
        "type": "ui_button",
        "z": "c316f7c54f47700f",
        "name": "",
        "group": "d92a5c8e34b4dda6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "Initialise antenna and home it",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"x\":0,\"y\":0,\"z\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "d8abc0c7033dc564"
            ]
        ]
    },
    {
        "id": "cbba61f20b1c4de2",
        "type": "debug",
        "z": "c316f7c54f47700f",
        "name": "GCode response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 160,
        "wires": []
    },
    {
        "id": "e5f1762c75e1c2a1",
        "type": "function",
        "z": "c316f7c54f47700f",
        "name": "Turn motors off",
        "func": "const msgs = [];\n\n// turn all motors off\nmsgs.push({ payload: { \"cmd\": \"SET_STEPPER_ENABLE STEPPER = stepper_x ENABLE = 0\" } });\n//msgs.push({ payload: { \"cmd\": \"SET_STEPPER_ENABLE STEPPER = stepper_y ENABLE = 0\" } });\n//msgs.push({ payload: { \"cmd\": \"SET_STEPPER_ENABLE STEPPER = stepper_z ENABLE = 0\" } });\nreturn [msgs]; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "cbba61f20b1c4de2"
            ]
        ]
    },
    {
        "id": "71599144a6090579",
        "type": "debug",
        "z": "c316f7c54f47700f",
        "name": "Gcode error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 220,
        "wires": []
    },
    {
        "id": "d92a5c8e34b4dda6",
        "type": "ui_group",
        "name": "Steppir control",
        "tab": "b65a296bf14e5099",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7490fa221a151ea5",
        "type": "moonNode-connector",
        "server": "localhost:7125"
    },
    {
        "id": "b65a296bf14e5099",
        "type": "ui_tab",
        "name": "Steppir control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
